.interest {
    display: inline-block;
    padding: 10px;
    background-color: lightblue;
    margin: 3px;
}
.delete-icon {
    color: #222;
    font-size: 1.8rem;
}
.top-spacer {
    margin-top: 20px;
}
.left-spacer {
    margin-left: 20px;
}
.error-style {
    padding-top: 10px;
}
.close-style {
    font-size: 5rem;
    color: #000;
}
.close-style:hover {
    color: cornflowerblue;
    cursor: pointer;
}