<div class="row">
  <div class="col-xs-12">
    <table class="table table-striped">
      <thead>
       <tr>
         <td class="column-title">
           #
         </td>
         <td class="column-title">
          First Name 
          &nbsp;&nbsp;<i *ngIf="sortNameAscending" class="fas fa-sort-alpha-up sort-style" (click)="sortByName()"></i>
          <i *ngIf="!sortNameAscending" class="fas fa-sort-alpha-down sort-style" (click)="sortByName()"></i>
         </td>
         <td class="column-title">
           Last Name
          </td>
         <td class="column-title">
           Phone Number
          </td>
         <td class="column-title">
           Action
         </td>
       </tr> 
      </thead>
      <tbody>
        <tr *ngFor="let user of users; let i = index" [class.selected-user]="isSelected(user)">
          <td>{{i+1}}</td>
          <td class="user-detail-link" (click)="selectUser(user.firstName, 'users')">{{user.firstName}}</td>
          <td>{{user.lastName}}</td>
          <td>
            {{ user.phoneNumber }}
          </td>
          <td>
            <i class="fas fa-times action-link delete-icon" (click)="deleteUser(user)" data-toggle="modal" data-target="#deleteUserModal"></i>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>