.column-title {
    font-weight: bold;
}
.action-link {
    cursor: pointer;
    padding-left: 15px;
}
.action-link:hover {
    color: red;
}
.sort-style {
    color: cornflowerblue;
}
.sort-style:hover {
    cursor: pointer;
}
.user-detail-link {
    cursor: pointer;
}
.user-detail-link:hover {
    cursor: pointer;
    color: cornflowerblue;
}
.user-modal-header {
    background-color: #222;
    color: #fff;
  }
.close-style {
    color: #fff;
}
.title-style {
    font-size: 1.6rem;
}
.top-spacer {
    margin-top: 15px;
}
.user-img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
}
.user-img img {
    display: block;
    max-width: 30px;
    max-height: 30px;
    width: auto;
    height: auto;
}
.user-field {
    vertical-align: middle;
    line-height: 40px;
}
.delete-icon {
    font-size: 1.8rem;
}
.dummy-user {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #ccc;
    text-align: center;
    line-height: 40px;
    font-size: 2.5rem;
    color: #fff;
    background-color: #000;
    cursor: pointer;
}
.left-spacer {
    margin-left: 15px;
}
.page-text {
    margin-top: 15px;
}
.selected-user {
    border: 2px solid gold;
}